html {
    box-sizing: border-box;
    background-color: rgb(19, 41, 6);
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body,
h1,
p,
img,
h2 {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    background-color: white;
}

.header {
    height: 59px;
    max-width: 1920px;
    z-index: 2;
}

.container {
    max-width: 1150px;
    margin-left: 150px;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

.logo__img {
    width: 85px;
    height: 42px;
    margin: 8px 0 9px 0;
}

.menu__list {
    display: flex;
}

.menu__list {
    list-style: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-bottom: transparent;
}

a {
    color: black;
    text-decoration: none;
}

.menu__list-item:hover {
    transition: .5s;
    border-bottom: 1px solid #0AD58C;
}

.menu__list-item:nth-child(1) {
    margin-right: 103px;
}

.menu__list-item:nth-child(2) {
    margin-right: 100px;
}

.menu__list-item:nth-child(3) {
    margin-right: 59px;
}


.container__title {
    max-width: 1450px;
    margin-left: 150px;
}

section.title__inner {

    height: 937.22px;
    background-image: url(../img/bgimg.png);
}

.title {
    max-width: 600px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 112px;
    color: #FFFFFF;
    padding-top: 246px;
}

.title__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 47px;
    line-height: 64px;
    color: #FFFFFF;
}

.ruble__img {
    width: 50px;
    height: 50px;
    margin: -7px;
}

.container__for__flex {
    display: flex;

}

.request {
    width: 500px;
    height: 500px;
    border: 1px solid #FFFFFF;
    border-radius: 10%;
    background-color: #FFFFFF;
    margin: 125px 0 0 220px;
    text-align: center;
    align-items: center;
    opacity: 0.9;
}

.form__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #626262;
    width: 400px;
    margin: 50px auto 5px;
}

.form__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 220px;
    color: #9F9F9F;
    margin: 0 auto;
    margin-bottom: 20px;
}

.name {
    margin: 20px 0 5px 0;
    width: 365px;
    height: 76.09px;
    border: none;
    background: #C3C3C3;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.name::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

input[type="text"] {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input[type="button"] {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.phone {
    margin: 5px 0 10px 0;
    border: transparent;
    width: 365px;
    height: 76.09px;
    background: #C3C3C3;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.phone::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.order__btn {
    margin-top: 10px;
    width: 261.82px;
    height: 67.07px;
    border: none;
    background: #0AD58C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    cursor: pointer;
    transition: .5s;
}

.order__btn:hover {
    transform: scale(1.1);
}

.all-on-4 {
    display: flex;
    padding: 0;
    margin: 0;
    height: 600px;

}

.title-tec {
    width: 50%;
}

.title__text_all-on-4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 84px;
    color: black;
    width: 750px;
    height: 186px;
    margin-top: 90px;
}

.img_fear {
    margin-top: -1px;
    margin-left: 9px;
    max-width: 50%;
}

.img__x-ray {
    max-width: 100%;
    height: 602px;
}

.text__tec {
    width: 460px;
    height: 42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 41px;
    color: rgb(95, 95, 95);
    margin-top: 30px;
    margin-bottom: 55px;
}

.rassrochka {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    width: 408px;
    height: 83px;
    background-color: #0AD58C;
    border-radius: 100px;
    transition: .5s;
    padding: 21px 50px 21px 50px;
    margin-left: 150px;
}

.rassrochka-link {

    color: #FFFFFF;
}

.rassrochka:hover {
    transform: scale(1.1);
}
.dantistoff__inner {
    display: flex;
    margin-top: 100px;
}

.dantistoff__title {
    width: 615px;
    height: 139px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 82px;
    color: #000000;
}

.dantistoff__text {
    width: 615px;
    height: 132.48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 155.8%;
    letter-spacing: 0.05em;
    margin-top: 30px;
}

hr {
    margin: 2px;
    padding: 0;
    color: #9F9F9F;
}

.benifits {
    margin: 20px 0 0 80px;
    display: flex;
}

.bennifits__item {
    width: 400px;
    height: 26.89px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
    list-style: url(../img/check.svg);
}

.bennifits__li {
    position: relative;
    top: -15px;
    margin-left: 10px;
}

.bennifits__item+.bennifits__item {
    margin-top: 50px;
    margin-bottom: 50px;
}

.img_check {
    width: 47px;
    height: 200px;
}

.hr__dantistoff {
    margin-top: 100px;
    margin-bottom: 92px;
}

.price {
    max-width: 1350px;
    margin: 0 auto;
}

.card__inner {
    display: flex;
}

.price__title {
    width: 244px;
    height: 123px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 123px;
    color: #000000;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
    margin: 0 auto 30px;
}

.card__price {
    width: 390px;
    height: 550px;
    border: 1px solid #DDDDDD;
    border-radius: 61px;
    background: #DDDDDD;
    text-align: center;
    align-items: center;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.25);
    transition: .5s;
    margin: 0 auto;
}

.card__price:hover {
    transform: scale(1.1);
}

.card__price_main {
    width: 390px;
    height: 602px;
    border: 1px solid #DDDDDD;
    border-radius: 10%;
    background: #DDDDDD;
    text-align: center;
    align-items: center;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

/* .title__price__inner{
    display: flex;
    margin: 0 auto;
} */
.card__title {
    width: 172px;
    height: 65px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #000000;
    margin: 20px 80px 20px 80px;
    display: flex;
}

.card__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    width: 283px;
    text-align: left;
    margin: 20px auto;
}

.card__text:nth-child(5) {
    margin-bottom: 90px;
}

.price__btn__inner {
    width: 350px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 100px;
    margin: 130px auto;
    padding: 13px 28px;
    transition: .5s;
}

.price__btn__inner:hover {
    background-color: #0AD58C;
}

.price__btn {
    text-align: left;

}

.price__btn-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: black;
}

.price__btn-number {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #0AD58C;
    transition: .5s;
}

.price__btn__inner:hover .price__btn-number {
    color: white;
}

.card__icon {
    width: 52px;
    height: 52px;
    margin-top: 10px;
    margin-left: 10px;
}

.footer {
    margin-top: 150px;
    background: #B9B9B9;
    height: 348px;
}

.footer__inner {
    max-width: 1200px;
    margin-left: 150px;
    display: flex;
}

.footer__block__one {
    max-width: 50%;
    margin-top: 80px;
}

.title__footer {
    width: 702px;
    /* height: 200px; */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #828282;

}

.text__footer {
    /* width: 182px; */
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 17px;
    text-align: right;
    color: #000000;
    text-align: left;
    margin-left: 50px;
    margin-top: 100px;
}

.green {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    text-align: right;
    color: #00B876;
    text-decoration-line: underline;
    cursor: pointer;
}

.oferta__inner {
    display: flex;
}

.oferta__text {
    margin-top: 94px;
    margin-left: 10px;
}

.footer__block__two {
    margin-left: 100px;
}

.block_without_delivery {
    display: flex;
}

.footer__contacts {
    display: flex;
    align-items: flex-end;
    margin-left: 200px;
}

.contacts__inner {
    text-align: right;
}

.email__footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: black;
}

.email__footer span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #828282;
}

.work__time {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.work__time span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #828282;
}

.oplata {
    margin: 50px 0 0 10px
}

.oplata__text {
    width: 268px;
    height: 24.31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #8B8B8B;
}

.footer__text {
    width: 737px;
    height: 25.15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #828282;

}

.img__footer {
    text-align: right;
}

.img__visa-liqpay {
    display: flex;
    margin: 10px 0 10px 30px;
}

.menu__btn {
    display: none;
}

@media screen and (max-width: 1500px) {
    .container__title {
        margin-left: 0;
    }

    .container__for__flex {
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        max-width: 1000px;

    }

    .title__container {
        max-width: 500px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 112px;
        color: #FFFFFF;
        margin: 0 auto;
        padding-top: 0px;
    }

    .title {
        padding-top: 0;
        font-size: 80px;
        margin-left: 20px;
    }

    .title__text {
        margin-left: 20px;
    }

    .request {
        margin: 30px auto;
    }

    .all-on-4 {
        display: block;
    }

    .img_fear {
        display: none;
    }

    .title-tec {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1350px) {
    .header {
        position: relative;
        z-index: 3;
    }

    .container {
        margin-left: 20px;
        max-width: 100%;
    }

    .menu__list {
        display: block;
        position: absolute;
        top: 59px;
        left: 0;
        right: 0;
        background-color: #fff;
        margin-top: 0;
        text-align: center;
        padding-right: 35px;
        padding: 20px 0;
        transform: translateY(-400px);
        transition: .5s;
        z-index: -1;
    }

    .menu__list.menu__list--active {
        transform: translateY(0px);
    }

    .menu__list-link {
        display: block;
        padding: 20px 0;
    }

    .menu__list-item:nth-child(1) {
        margin-right: 0px;
    }

    .menu__list-item:nth-child(2) {
        margin-right: 0px;
    }

    .menu__list-item:nth-child(3) {
        margin-right: 0px;
    }

    .menu__btn {
        display: block;
        width: 35px;
        height: 26px;
        border: none;
        margin-top: 17px;
        margin-right: 20px;
        cursor: pointer;
        border-top: 2px solid #0AD58C;
        border-bottom: 2px solid #0AD58C;
        background-color: transparent;
        position: relative;
    }

    .menu__btn::before {
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #0AD58C;
        left: 0;
        top: 10px;
    }

    .title__text {
        text-align: center;
    }

    .rassrochka {
        margin-left: 0px;
    }

    .dantistoff__inner {
        display: block;
        max-width: 666px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 1105px) {
    .dantistoff__inner {
        display: block;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 960px) {
    .title__text_all-on-4 {
        font-size: 70px;
        max-width: 300px;
        line-height: 60px;
        text-align: left;
    }

    .title-tec {
        margin-left: calc(15%);
    }

    .title_text {
        text-align: center;
    }
    .dantistoff__title {
        font-size: 40px;
    }
    .dantistoff__text{
        width: 500px;
        margin-left: 60px;
    }
}

@media screen and (max-width: 560px) {
    .title__container {
        transform: scale(0.9);
    }

    .request {
        transform: scale(0.9);
    }

    .title-tec {
        margin-left: calc(10%);
    }
}

@media screen and (max-width: 500px) {
    .title__container {
        transform: scale(0.9);
    }

    .request {
        transform: scale(0.9);
    }

    .title__text_all-on-4 {
        font-size: 50px;
        max-width: 300px;
        line-height: 60px;
        text-align: left;
    }

    .title-tec {
        margin-left: calc(0%);
    }

    .text__tec {
        text-align: left;
        font-size: 20px;
        max-width: 200px;
        margin-top: 0;
    }

    .container {
        align-items: left;
    }

    .rassrochka {
        transform: scale(0.9);
        width: 320px;
        height: 83px;
        font-size: 22px;
    }
}

@media screen and (max-width: 490px) {
    .request {
        width: 400px;
    }

    .title {
        font-size: 50px;
        line-height: 60px;
        text-align: center;
    }

    .title__text {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }

    .title__inner {
        max-height: 720px;
    }
}

@media screen and (max-width: 390px) {
    .request {
        width: 320px;
        height: 450px;
        border-radius: 30px;
    }

    .phone {
        width: 300px;
    }

    .name {
        width: 300px;
    }

    .form__title {
        width: 300px;
        padding: 0;
        margin: 10px auto;
    }
}